body,html{
    margin:0;
    overflow-x: hidden;
    background-color: aliceblue;
    scroll-behavior: smooth;
}
::selection {
    background-color: rgb(134, 110, 0); /* Adjust the color as desired */
    color: inherit; /* Inherit the original text color */
  }
  

.full{
    margin: 0;
    height: auto;
    min-width: 100vw;
    min-height: 99.5vh;
    background-color: rgb(255, 255, 255);
}
.nav{
    height: 90px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.062) 0px 15px 30px -5px, rgba(0, 0, 0, 0.04) 0px 0px 8px -5px;    
    position: fixed;
    z-index: 1;
}
.nav-limiter{
    max-width: 1500px;
    margin: auto;
    height: 100%;
    position: sticky;
}

body::-webkit-scrollbar {
    width: 8px; /* Set a specific width for the scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #b9b9b9; /* Color for the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color for the scrollbar track */
}
a{
    text-decoration: none;
    color: inherit;
}
.logo{
    width: 10%;
    min-width: 100px;
    height: 100%;
    margin-left: 30px;
}
.links-cont{
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: right;
    padding-right: 50px;
}
.links{
    height: 50%;
    width: auto;
    max-width: 99%;
    margin-top: 25px;
}
.link{
    text-align: center;
    height: auto;
    max-height: 100%;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-family: 'cocomat',sans-serif;
}
.linktext{
    font-size: normal;
    padding-bottom: 10px;
    font-weight: bold;
    color: #472000;
    margin-right: 7px;
}

.linktext:hover .expand{
    width: 100%;
    
}

.expand{
    width: 0%;
    height: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(219, 150, 0);
    bottom: 0px;
    transition: width 0.3s ease;
}
.active{
    width: 100% !important;
}

.mobile{
    height: 100%;
    width: 100%;
    display: none;
}

.quote{
    background-color: rgb(216, 140, 0);
    height: auto;
    padding-top: 10px;
    padding-left:20px ;
    padding-right: 20px;
    margin-top: -10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}
.quote:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 179, 36);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.getquote{
    margin: auto;
}

.quote-phone{
    background-color: rgb(216, 140, 0);
    height: auto;
    padding-top: 5px;
    padding-left:15px ;
    padding-right: 15px;
    padding-bottom: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: rgb(255, 255, 255);
    transition: 0.2s;
    font-family: 'cocomat',sans-serif;
    margin-right: 25px;
}
.svg{
    stroke: rgb(160, 104, 0) !important;
    transition: ease-in-out 0.2s;
}
.quote-phone:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 179, 36);
    cursor: pointer;
}
.mobilenav:hover .svg{
    stroke: #4b2200 !important;
}
.mobilenav:hover{
    cursor: pointer;
}

.sidenav{
    width: 100%;
    height: 100vh;
    background-color: #00000096;
    z-index: 2;
    display: none;
}
.sidenav-limiter{
    width: 90%;
    height: 100%;
    max-width: 350px;
    border-bottom: 1px solid grey;
    background-color: #f1f1f1;
    margin-right: auto;
    left: -90%;
    transition: left 0.3s ease-in-out;
}
.mobilenavcont{
    width: 85%;
    height: 100%;
}
.mobilenavclose{
    width: 15%;
    height: 40px;
    margin-top: 20px;
}
.svg1{
    fill: rgb(173, 173, 173) !important;    
    transition: ease-in-out 0.2s;
}
.mobilenavclose:hover .svg1{
    fill: rgb(145, 99, 0) !important;
}
.mobilenavclose:hover{
    cursor: pointer;
}


/* Main home area */

.home{
    background-image: url(../images/bgs/man-looking.jpg);
    /* background: fixed; */
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    min-height: 100vh;
    transition: background-image 1s ease-in-out; 
}
.home.fade-out {
    opacity: 0; /* Gradually decrease opacity for fading out */
    transition-delay: 0s; /* Remove delay for immediate fade-out */
  }
  
  .home.fade-in {
    opacity: 1; /* Gradually increase opacity for fading in */
    transition-delay: 1s; /* Delay the fade-in after the fade-out */
  }
  
.home-filter{
    height: auto;
    min-height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.829) 60%, rgba(0, 0, 0, 0.308));
    padding-top: 100px;
      
}
.title-cont{
    height: 25%;
    width: auto;
    max-width: 55%;
    margin: auto;
    text-align: center;
    
}
.title{
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'russo one',sans-serif;    
    padding-top: 50px;
    bottom: 0px;
}
.sub{
    width: 45%;
    margin: auto;
}
.subtitle{
    text-align: center;
    color: rgb(243, 243, 243);
    font-size: 30px;
    font-weight: lighter;
    font-family: 'lexand',sans-serif;
    width: auto;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}
.actionbtn{
    height: auto;
    bottom: 0px;
}
.actionbtn{
    width: auto;
    max-width: 200px;
    margin: auto;
    padding: 5px;
    text-align: center;
}
.homebtn {
    width: 200px;
    height: 50px;
    background-color: rgb(216, 140, 0);
    color: #ffffff;
    border-radius: 30px;
    margin-top: 50px;
    font-family: 'rubik', sans-serif;
    font-size: large;
    display: flex; /* New addition */
    align-items: center; /* New addition */
    justify-content: center; /* New addition */
    transition: 0.2s ease-in-out;
  }
  .homebtn:hover{
    background-color: rgb(255, 179, 36);
    color: #000000;
  }
  .bottom-quote{
    bottom: 0px;
    background-color: #00000098;
    height: 80px;
    color: #b9b9b9;
    font-family: 'cocomat',sans-serif;
    display: flex; /* New addition */
    align-items: center; /* New addition */
    justify-content: center; /* New addition */
    transition: 0.2s ease-in-out;
}
  







footer{
    text-align: center;
    background-color: black;
    color: #969696;
    padding: 10px 10px 15px 10px 10px;
}







/* Media querries */




@media screen and (max-width:1065px) {
    .link{
        display: none;
    }
    .links-cont{           
         padding-right: 20px;
}
.mobile{
    display: flex;
}
}

@media screen and (max-width:646px) {
.title-cont{
    width: 100%;
}
.title{
    /* font-size: 35px; */
}
.title-cont{
    max-width: 100%;
    
}
.sub{
    width: 95%;
}
}
@media screen and (max-width:1246px) {
   .sub{
    margin-top: 30px;
   }
    }




@media screen and (max-width:450px) {
    .nav{
        height: 70px;
    }
    .links{
        margin-top: 17px;
    }
    
}



@media screen and (max-width:320px) {
    .quote-phone{
        display: none;
    }
    
}


/* Devices */

/* Ipad pro */
@media screen and (max-width:1024px) and (height:1366px) {
    .home{
        height: auto;
        min-height: 60vh;
        position: relative;
    }
    .title-cont{
        width: 70%;
    }
    .title{
        font-size: 50px;
    }
    .title-cont{
        max-width: 100%;
        
    }
    .sub{
        width: 50%;
    }
    }

    /* Ipad Air */
@media screen and (max-width:820px) and (height:1180px) {
    .home{
        min-height: 80vh;
        position: relative;
    }
    }

    /* Ipad Mini */
@media screen and (max-width:768px) and (height:1024px) {
    .home{
        height: auto;
        min-height: 80vh;
        position: relative;
    }
    }

    /* Ipad pro */
@media screen and (max-width:1024px) and (height:600px) {
    .home{
        height: auto;
        max-height: 100vh;
        position: relative;
    }
    .title-cont{
        width: 70%;
        margin-bottom: 70px;
    }
    .title{
        font-size: 50px;
    }
    .title-cont{
        max-width: 100%;
        
    }
    .sub{
        width: 70%;
    }
    .homebtn{
        margin-top: 20px;
    }
    }

    
    /* Iphone 14 pro max*/
@media screen and (max-width:450px)  {
    .home{
        height: auto;
    }
    .title-cont{
        width: 100%;
        margin-bottom: 0px;
    }
    .title{
        font-size: 50px;
    }
    .title-cont{
        max-width: 100%;
        
    }
    .sub{
        width: 80%;
    }
    .homebtn{
        margin-top: 40px;
    }
    .bottom-quote{
        height: 20%;
    }
    }

    /* Iphone 12 pro*/
@media screen and (max-width:400px)  {
    .home{
        height: auto;
    }
    .title-cont{
        width: 100%;
        margin-bottom: 0px;
    }
    .title{
        font-size: 40px;
    }
    .title-cont{
        max-width: 100%;
        
    }
    .sub{
        width: 80%;
    }
    .homebtn{
        margin-top: 40px;
    }
    .bottom-quote{
        height: 15%;
    }
    }
